<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Список постов
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h5>Категории:</h5>
{% for category in categ %}
<!--        {% for de in category.subscribers.all %}-->
<!--            1  {{ de.email }}-->
<!--        {% endfor %}-->
    <form style='display:inline;' method='post'>
        {% csrf_token %}
        <input type="hidden" value="{{category.id}}" name= 'cat'>
        <input type="submit" value="{{ category }}" name="btn">
<!--<a href="/news/category/{{ category.id }}">{{ category }}</a>-->
    </form>
{% endfor %}


{% if cat_name %}
    <h5>Все посты категории {{cat_name}}</h5>
    <form method='post' action="/news/category/">
        {% csrf_token %}
        <input type="hidden" value="{{cat_name}}" name= 'sub'>
        <input type="submit" value="Подписаться на категорию {{cat_name}} !" name="btnsub">
    </form>
{% else %}
    <h5>Все посты</h5>
{% endif %}
<hr>
<table>
    <tr>
        <td>
           <strong>Название</strong>
        </td>
         <td>
            <strong>Дата</strong>
        </td>
         <td>
             <strong>Текст статьи</strong>
        </td>
    </tr>
    {% for post in posts %}
    <tr>
        <td>
            <a href={{post.id}}>{{post.name_post|Censor:"статья"|Censor:"Python"}}</a>
        </td>
         <td>
            {{ post.date_post|date:"d.m.Y"}}
        </td>
         <td>
            {{ post.text_post|truncatechars:50|Censor:"Python"}}
        </td>
    </tr>
    {% endfor %}
</table>
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
<br>
<a href='/news/add'>Создать новую статью</a>
{% endblock content %}