<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% block title %}
Поиск
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы, придётся делать самому -->
    <input type="submit" value="Найти">
</form>

<h2>Всего найдено:  {{filter.qs|length}}</h2>
<hr>
<table>
    {% for post in filter.qs %}
    <tr>
        <td>
            {{post.one_to_many_author.one_to_one_user}}
        </td>
        <td>
            <a href={{post.id}}>{{post.name_post}}</a>
        </td>
         <td>
            {{ post.date_post}}
        </td>
         <td>
            {{ post.text_post}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}